* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  .sidebar {
    background-color: #253141;
    width: 300px;
    &__side-header {
      align-items: center;
      background-color: #253141;
      display: flex;
      height: 100px;
      justify-content: center;
      width: 300px;
      &__side-box {
        align-items: center;
        display: flex;
        height: 20px;
        justify-content: space-between;
        width: 260px;
        &__user-name {
          color: #d8d8d8;
          font-size: 16px;
        }
        &__icons {
          display: flex;
          height: 20px;
          justify-content: flex-end;
          text-decoration: none;
          width: 60px;
          &__btn {
            color: #ffffff;
            &__edit {
              padding-right: 5px;
            }
          }
        }
      }
    }
    &__group-list {
      background-color: #2f3e51;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: calc(100vh - 100px);
      align-items: center;
      padding-top: 20px;
      width: 300px;
      &__first-group {
        font-size: 15px;
        margin-bottom: 40px;
        width: 260px;
        &__name {
          margin-bottom: 5px;
        }
        .White {
          color: #ffffff;
          text-decoration: none;
        }
      }
      &__current-message {
        font-size: 11px;
        width: 260px;
      }
    }
  }

  .chat {
    width: calc(100vw - 300px);
    .header {
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 300px);
      .left-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0px 40px;
        &__title {
        color: #333333;
        line-height: 70px;
        font-size: 20px;
      }
        &__members {
        color: #999999;
        display: flex;
        align-items: flex-end;
        .member {
        .chat-group-information__member__name {
        font-size: 12px;
            }
          }
        }
    }
      .right-header {
        color: #38aef0;
        &__button {
      border: solid 1px #38aef0;
      color: #38aef0;
      font-size: 16px;
      margin-top: 28px;
      margin-right: 40px;
        .Edit {
          color: #38aef0;
          font-size: 16px;
          text-decoration: none;
          line-height: 40px;
          padding: 0 20px;
        }
      }
    }
  }
      .messages {
        height: calc(100vh - 190px);
        background-color: #fafafa;
        width: calc(100vw - 300px);
        overflow: scroll;
        padding-top: 20px;
        padding-left: 40px;
          .message {
            padding-bottom: 40px;
            .upper-message {
              display: flex;
              &__user-name {
                @include user-name();
              }
              &__date {
                @include date();
              }
            }
            .lower-message {
              &__content {
                @include lower-message();
              }
            }
        }

      }
    }
    .Footer {
      background-color: #d2d2d2;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      .Form {
        width: 90%;
        &__contents {
        display: flex;
        margin: 0 40px;
        width: 100%;
          &__inputContent {
          padding: 0 10px;
          margin-right: 15px;
          width: 100%;
          border-style: none;
          height: 50px;
          }
          &__inputImage {
            position: relative;
            &__icon {
            position: absolute;
            bottom: 15px;
            right: 25px;
            }
            .Hidden {
              display: none;
            }
          }
          &__submit {
            padding: 0 30px;
            background-color: #38aef0;
            font-size: 16px;
            color: #fff;
            line-height: 32px;
            border-style: none;
        }
      }
    }
  }
}